# Python语法基础 — 课程概要
***
本节预览：
#Python常量与变量
#Python数与字符串
#Python数据类型
#认识Python标识符
#Pyhon对象
#Python行与缩进

# 体验Python

In [22]:
print('hello,world!')

hello,world!

In [21]:
a=10

In [6]:
a=100

In [7]:
print (a)

100

In [9]:
9**(1/2)

3.0

In [5]:
a=100
a=10
print (a)
b='test'
print (b)
c='王老师真帅'
print(c)
print(100+200)
print('abc')
300*2

10
test
王老师真帅
300
abc

600

In [24]:
121214124+32323*321323**2/1212121

2874487358.639336

# 1、Python常量与变量

In [25]:
i=7
print (i)
i=100
print(i)

7
100

In [7]:
a=178  # a为小明身高
xm_height=178
xm_height+=xm_height

## 2、Python数与字符串

In [8]:
#单引号
c1='2ght'
print (c1)
c2='It is a "dog"!'
print (c1,c2)

2ght
2ght It is a "dog"!

In [9]:
#子字符串
#索引运算符从0开始索引
#切片运算符[a:b]是指从第a下标开始到第b-1下标。同样第一位的下标为0.
c1="zhongqing"
c2=c1[0]
c3=c1[7]
c4=c1[:2]  # 包前不包后
c5=c1[2:]
c6=c1[4:7]
c7=c1[-1] 
c8=c1[-5:-3]
c9=c1+c2

print (c2)
print (c3, c4, c5, c6,c7,c8,c9)
print(c8)

z
n zh ongqing gqi g gq zhongqingz
gq

# Python的数据类型

·基本数据类型
·列表
·元组
·集合
·字典

在Python中没有数组的概念，Python中跟数组最接近的概念就是列表和元组，我们先说列表。列表就是用来存储一连串元素的容器。列表用[]来表示，比如说，一个班里面有30个学生，我们需要将30个学生安排到一间教室里面上课，如果把30个学生分别比作元素，那么这个教室就是数组。30个学生是按座位坐好，有序排列的，在数组中的元素也是有序排列的。那么下面我们来进行实例讲解。

In [26]:
#列表
students=["小明","小华","小李","小娟","小云",3]
print (students[len(students)-1])
print (students[-1])
print (students[2:4])

3
3
['小李', '小娟']

In [11]:
#列表2
students=["小明","小华","小李","小娟","小云",3]
print (students[3])

students[3]="小月"
print (students[3])

students[5]="小楠"
print (students[5])

students[5]=19978
print (students[5])

students

小娟
小月
小楠
19978

['小明', '小华', '小李', '小月', '小云', 19978]

Python中跟数组类似的除了列表之外还有元组。元组里面的元素也是进行索引计算。但是列表跟元组有什么区别呢？一是列表里面的元素的值可以修改，而元组里面的元素的值不能修改，只能读取。区别二是列表的符号是[],而元组的符号是（）。下面我们进行实例演示。

In [12]:
#元组
students=("小明","小军","小强","小武","小龙",100)
print (students[1])

小军

In [27]:
#元组
students=("小明","小军","小强","小武","小龙")

students[1]="小云"
print (students[1])

TypeError: 'tuple' object does not support item assignment

Python中集合主要有两个功能，一个功能是进行集合操作，另一个功能是消除重复元素。
集合的格式是：set(元素)

In [15]:
a=[1,2,3,4,5,4,2]
set(a)

{1, 2, 3, 4, 5}

In [16]:
a=set("abcnmaaaaggsng")
print (a)
b=set("cdfm")
#交集
x=a&b 
print (x)
print (a) 
#并集
y=a|b
print (y) 
#差集
z=b-a
print (z) 
#去除重复元素
new=set(a)
print (new)

{'g', 'n', 'b', 's', 'c', 'a', 'm'}
{'c', 'm'}
{'g', 'n', 'b', 's', 'c', 'a', 'm'}
{'g', 'd', 'f', 'b', 'n', 's', 'c', 'a', 'm'}
{'f', 'd'}
{'g', 'b', 's', 'c', 'a', 'm', 'n'}

Python中的字典也叫做关联数组，用大括号{}括起来。格式是这样的：zidian={'name':'weiwei','home':'guilin','like':'music'}我们可以这样理解：字典里面其实包含的是一整个事情，这个事情里面分别包括各种方面的具体信息。比如我们刚才这个，包含了name方面、home方面、like方面的具体信息，其中name方面的值为weiwei，home方面的值为guilin，以及like方面的值为music。下面我们进行实例讲解。

In [17]:
#字典
k={"姓名":"韦玮","籍贯":"桂林"}
print (k["籍贯"])

#添加字典里面的项目
k["爱好"]="音乐"
print (k["姓名"])
print (k["爱好"])
print (k)

桂林
韦玮
音乐
{'姓名': '韦玮', '籍贯': '桂林', '爱好': '音乐'}

# Python关键字

In [28]:
#常用关键字
#查看一下关键字有哪些
import keyword
print (keyword.kwlist)
print (keyword.main )        # 体会jupter自动完成功能

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
<function main at 0x000001ECEB771EA0>

# Python的运算符与表达式

In [21]:
#"+":两个对象相加
#两个数字相加
a=7+8
print (a)

15

In [22]:
#两个字符串相加
b="GOOD"+" JOB!"
print (b)

GOOD JOB!

In [23]:
#"-":取一个数字的相反数或者实现两个数字相减
a=-7
print (a)
b=-(-8)
print (b)

c=19-1
print (c)

-7
8
18

In [24]:
#"*":两个数相乘或者字符串重复
a=4*7
print (a)

b="hello"*7
print (b)
b="hello\n"*7
print (b)

28
hellohellohellohellohellohellohello
hello
hello
hello
hello
hello
hello
hello

In [25]:
#"/":两个数字相除
a=7/2
print (a)

b=7.0/2
c=7/2.0
print (b)
print (c)

from __future__ import division  
a=7/2
print (a)

3.5
3.5
3.5
3.5

In [26]:
#"**":求幂运算
a=2**3   #相当于2的3次幂，就是2*2*2   2^3
print (a)

8

In [27]:
#"//":除法运算，然后返回其商的整数部分，舍掉余数
a=10//3
print (a)

3

In [28]:
round(10/3)

3

In [29]:
int(10/3+0.5)

3

In [30]:
#"%":除法运算，然后返回其商的余数部分，舍掉商
a=10%3
print (a)

b=10%1  #没有余数的时候返回什么？
print (b)

1
0

In [31]:
a=10//3  #a为商的整数部分
b=10%3   #b为
c=3*a+b  #c为除数乘以商的整数部分加上余数，应该c的值就是被除数
print (a,b, c)

3 1 10

In [32]:
#"<"：小于符号，返回一个bool值
a=3<7
print (a)

b=3<3
print (b)

True
False

In [33]:
type(a)

bool

In [34]:
#">":大于符号，返回一个bool值
a=3>7
print (a)

b=3>1
print (b)

False
True

In [35]:
#"!=":不等于符号，同样返回一个bool值
a=2!=3
print (a)

b=2!=2
print (b)

True
False

In [36]:
#"<=":小于等于符号，比较运算，小于或等于，返回一个bool值
a=3<=3
print (a)

b=4<=3
print (b)

#">="
a=1>=3
print (a)

b=4>=3
print (b)

True
False
False
True

In [37]:
#"==":比较两个对象是否相等
a=12==13
print (a)
b="hello"=="hello"
print (b)

False
True

In [38]:
a=''
not a

True

In [39]:
#not:逻辑非
a=True
b=not a
print (b)

c=False
print (not c)

False
True

In [40]:
#and:逻辑与
'''
True and True等于True
True and False等于False
False and True等于False
'''
print (True and True)

True

In [41]:
#or:逻辑或
'''
True and True等于True
True and False等于True
False and False等于False
'''
print (True or False)

True

# Python控制流

In [43]:
#控制流

#控制流功能
#要实现：重复执行3段同样的程序

#方式一：
i=0
print (i)
i=i+1
print (i)

i=0
print (i)
i=i+1
print (i)

i=0
print (i)
i=i+1
print (i)

0
1
0
1
0
1

In [40]:
for k in (18,19,20):
    print(k)

18
19
20

In [37]:

#方式二：
for k in (0,0,0,0):     #range(0,3):
    i=0
    print (i)
    i=i+1
    print (i)
print('123')

0
1
0
1
0
1
0
1
123

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# 1+2+3+4+5+....+100
s=0
for k in range(1,101):
    s=s+k
s

5050

#if语句
#if语句的格式用法：
'''
if 是这样:
    执行该部分语句
    执行该部分语句
    执行该部分语句
    执行该部分语句
    执行该部分语句
elif 或者是这样：
    执行elif部分语句
    执行elif部分语句
    执行elif部分语句
    执行elif部分语句
    执行elif部分语句
else 或者以上情况都不是：
    执行该部分语句
    执行该部分语句
'''

In [48]:
#一种情况的if用法
a=8
if a==8:                         #这里的等号注意是==
    print ("hello")


if a!=8:
    print ("hehe")

hello

In [49]:
#两种选择情况下的if用法
a=8
if a==8:
    print ("She")
else:
    print ("He")

She

In [42]:
#三种选择情况下的if用法
a=15
if a==7:
    print ("I")
elif a<7:
    print ("he")
elif a<6:
    print ("hello")
else:
    print ("she")

she

In [51]:
#程序c
for i in range(10,19):
    if i==15:
        continue
    print (i)

10
11
12
13
14
16
17
18

In [52]:
#程序c
for i in range(10,19):
    if i==15:
        break
    print (i)

10
11
12
13
14

# Python的函数

In [44]:
a='I am a boy'

In [58]:
a=[1,2,3,4]

In [59]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [50]:
a.find

-1

In [51]:
a=100

In [ ]:
a.

In [56]:
a.lower()

'i am a boy'

In [57]:
#实现字符串的切割
a="student,my xxxx"
b=a.split(",")
print (b)

['student', 'my xxxx']

In [52]:
#实例
def function1(a,b):
    a+=8# a=a+8
     
    return [a+b ,a**2]

In [59]:
aa,bb=function1(10,10)
print(aa)
print(bb)

28
324

# Python模块

In [ ]:
# pip install jieba  conda prompt

In [53]:
import jieba

In [60]:
seg_list = jieba.cut("长春市长春药店", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Default Mode: 长春市/ 长春/ 药店

In [57]:
import jieba.posseg as pseg
words = jieba.posseg.cut("我爱北京天安门")
words
for word, flag in words:
    print( word, flag)

我 r
爱 v
北京 ns
天安门 ns

In [68]:
# pandas这个模块将在后续课程中使用
import pandas as pd
import numpy as np
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df.head(5)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4

In [69]:
from pandas import DataFrame
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df1.head(2)

  key  data1
0   b      0
1   b      1

# Numpy

In [70]:
import numpy as np
a=np.array([1,2,3,4])
type(a)

numpy.ndarray

In [71]:
np.array(range(0,11))/10

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [72]:
a.max()

4

In [75]:
a.shape[0]

4

In [76]:
b=['王',3.14]
b=np.array(b)
b

array(['王', '3.14'], dtype='<U4')

In [77]:
s=[]
for i in range(10):
    s.append(i)
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
[i*10 for i in range(10)]  # 列表生成器

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [80]:
#比较ufunc和其他python方式的计算时间
from time import time 
import math
x=[i*0.001 for i in range(1000000)]
start=time()
for i,t in enumerate(x):
    x[i]=math.sin(t)
print (time()-start)

0.29605746269226074

In [81]:
x=[i*0.001 for i in range(1000000)]
x=np.array(x)
start=time()
np.sin(x)
print (time()-start)

0.012896299362182617

In [83]:
# 计算回归系数
import numpy as np
#定义变量
x = np.array([1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0])
y=np.array([2.10,3.90,8.20,1.96,6.30,4.40,7.70,4.30,5.40,8.70,2.50])

#进行转置，因为计量经济学中的向量均为列向量
X = np.vstack([np.ones(len(x)),x ]).T#带截距地回归
Y = y.T

#按步骤计算回归系数beta
XX = np.dot(X.T,X)#点乘
XX_inv = np.linalg.inv(XX)#取逆
XY=np.dot(X.T,Y)
beta = np.dot(XX_inv,XY)
beta   # 4.012 截距项 0.17 beta   # 此处看懂即可，回归不推荐用此类方法做

array([4.012     , 0.17163636])